/* line 4, /home/raajashri/SMS/app/assets/stylesheets/scholarship.scss */
#main p {
  color: #00ff00;
  width: 97%;
}
/* line 8, /home/raajashri/SMS/app/assets/stylesheets/scholarship.scss */
#main p .redbox {
  background-color: #ff0000;
  color: #000000;
}
