/* line 5, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
body {
  padding: 0px;
  margin: 0px;
}

/* line 9, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

/* line 14, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 18, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
p {
  padding: 0px;
}

/* line 21, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
h2 {
  font-family: grande;
  color: red;
}

/* line 25, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
.canvas {
  padding: 0px;
  margin: 0px;
  height: 1500px;
  width: 1350px;
}

/* line 31, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
.home_head {
  width: 1350px;
  height: 500px;
  background-image: url(back.jpg);
}

/* line 36, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
.head {
  width: 1350px;
  height: 200px;
  background-image: url(raji8.jpg);
}

/* line 42, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
.form {
  padding: 0px 0px 0px 0px;
  margin-left: 1000px;
  float: right;
  width: 200px;
  height: 300px;
  color: white;
}

/* line 50, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
.menu_home {
  padding-left: 200px;
  padding-right: 200px;
  width: 1350px;
  height: 200px;
  float: right;
}

/* line 58, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
.menu {
  padding-left: 400px;
  padding-top: 30px;
  padding-right: 200px;
  width: 1350px;
  height: 80px;
  float: right;
}

/* line 66, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
.side {
  padding: 0px;
  margin-top: 45px;
  width: 200px;
  height: 800px;
  font-family: papyrus;
  font-weight: bold;
  font-size: 20px;
  background-color: #e2e2eb;
}

/* line 76, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
.item {
  font-family: gill sans,veradona;
  font-size: 25px;
  float: right;
  padding: 30px;
}

/* line 83, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
.item:hover {
  color: #e2e2eb;
}

/* line 86, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
.it {
  margin: 10px;
  width: 200px;
  height: 20px;
  color: black;
  float: left;
  font-size: 20px;
}

/* line 94, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
.sign {
  padding: 0px;
  color: white;
  margin: 0px;
  height: 700px;
  background-color: blue;
}

/* line 101, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
.main {
  width: 500px;
  float: right;
  color: black;
  font-size: 20px;
}

/* line 107, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
.ser {
  padding: 0px;
  margin: 0px;
  width: 400px;
  height: 50px;
  float: right;
}

/* line 114, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
.gallery {
  border-style: none;
  border-radius: 10px;
  margin-left: 0px;
  padding-top: 30px;
  width: 1100px;
  height: 1350px;
  float: left;
}

/* line 123, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
.photo {
  margin: 20px 0px 0px 20px;
  width: 300px;
  height: 100px;
  float: left;
  padding-top: 10px;
  text-align: center;
  border-style: solid 1px black;
  border-width: medium;
  border-radius: 15px;
  background-image: url(res_back1.jpeg);
  font-family: terbuchet;
  font-size: 20px;
  font-weight: bold;
}

/* line 138, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
.text {
  font-family: serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-weight: normal;
  font-size: 25px;
  margin-top: 5px;
}

/* line 147, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
.rest {
  width: 1100px;
  height: 1000px;
  padding-top: 100px;
  margin-top: 40px;
  margin-left: 50px;
}

/* line 154, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
.res_main {
  padding: 0px;
  width: 1150px;
  height: 1000px;
  margin-left: 200px;
  background-image: url(rest2.jpeg);
}

/* line 162, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
.hotel {
  margin: 20px 20px 20px 20px;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  background-image: url(res_back.jpeg);
  float: right;
}

/* line 170, /home/raajashri/SMS/app/assets/stylesheets/test.scss */
.must_visit {
  margin-left: -200px;
  width: 1000px;
  height: 150px;
  border: solid 1px orange;
}
