<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="sign">
<form style="margin-left:300px">
<span style="font-size:30px;text-align:center;font-family:cambria;"><b>SCHOLARSHIP_FORM</b>
<br><br>
<font  size="5">
Rollno:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<input type="text" name="us"/><br/>
<br>
Age:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<input type="integer" name="pw"><br/>
<br>
CGPA&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<input type="integer" name="pw"><br/>
<br>
Community:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<input type="text" name="pw"><br/>
<br>
Annual Income:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<input type="integer" name="pw"><br/>
<br>
Contact No:   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<input type="text" name="contact"><br/>
<br>
Email Id:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<input type="text" name="email"/><br/>
<br><br>
</font>
<a href="sub.html"><input type="submit" value="Request Scholarship"/></a>
</form>
</div>
</body>
</html>
